body{
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}
/*Scroll-bar*/
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }
canvas{
    border: 10px solid #db0f5d;
    
    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1{
font-family: "Avenir Next", Verdana;
}
h2{
	font-family: "Avenir Next", Verdana;
	font-size: 30px;
	margin-top: 0;
	letter-spacing: 0px;
	}
.start{
	width: 120px;
	height: 40px;
	display: block;
	text-align: center;
	margin: auto;
	cursor: pointer;
	background: url("img/btncolor.png") no-repeat;
	border: 2px solid black;
	border-radius: 1px;
	font-size: 15px;
	outline: black;
	
} 
.start:hover {
	background-color: #000000;
	color: rgb(255, 255, 255);
  }

